<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/commonmark-2.4.2/tests" />
        <option value="$PROJECT_DIR$/parsedown-2.0.x/tests" />
        <option value="$PROJECT_DIR$/cebe-markdown/tests" />
      </list>
    </option>
  </component>
</project>